<!--Contact-->
<div class="row bg-white py-4">
    <div class="col-md-6 mx-auto">
        <!-- <h3>Let's Keep in Touch</h3> -->
        <div class="my-3">
            <a class="mx-1" href="#" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="mx-1" href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="mx-1" href="#" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a class="mx-1" href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></i></a>
        </div>
        <p class="">
            Designed by <a href="https://teampiccolo.com">Team Piccolo</a><br>
            Copyright &copy; 2021 AMEC CAD TRAINING.<br> 
            All rights reserved. 
        </p>
    </div>
</div>