<!--Contact-->
<div class="row py-4">
    <div class="col-md-6 mx-auto">
        <!-- <h3>Let's Keep in Touch</h3> -->
        <p class="text-white">
            Designed by <a class="text-white" href="https://teampiccolo.com">Team Piccolo</a><br>
            Copyright &copy; 2021 AMEC CAD TRAINING<br> 
            All rights reserved
        </p>
    </div>
</div>
<div class="row bg-white py-3">
    <div class="col-md-6 mx-auto">
        <a class="mx-1" href="#" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a class="mx-1" href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a class="mx-1" href="#" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a class="mx-1" href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></i></a>
    </div>
</div>