<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Amec Cad is a training institute that provide indigenous designers with professional training on CAD and CADD software to face the global challenges in Design and drafting.">
        <meta name="keywords" content="Dialux, AutoCAD Electrical, Revit Electrical, ETAP, Telecommunication Infrastructure Deployment & Maintenance, Electrical Buildings Services, Industrial Control & Home Automation">
        <title>Electrical/Telecomms Engineering | Courses</title>
        
    <%- include('includes/head'); -%>
    
    <body>
        <!--Main Container-->
        <div class="container-fluid">
            <!--Nav-->
            <%-include('includes/nav')-%>
            <!--Header-->
            <div id="slogan" class="mx-3 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <img src="images/innovation.png" alt="Electrical/Telecomms Engineering" class="img-fluid" style="width:12rem;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <h4 class="title mt-4 text-center">
                            "People spend a lot of money to decorate the house but are not ready to spend a single penny at home to avoid an electrical accident" 
                            <br>– Unknown
                        </h4>
                    </div>
                </div>
            </div>
            <!--COURSES-->
            <div class="row bg-white py-3">
                <div id="courses" class="col-md-10 mx-auto my-4 bg-white">
                    <div class="col-md-8 mx-auto mb-3">
                        <h1>Electrical/Telecomms Engineering Courses</h1>
                    </div>
                    <hr class="w-50 mx-auto">
                    <div class="row mt-3 mx-auto">
                        <p>
                            <ul class="text-left my-auto">
                                <li>Dialux</li>
                                <li>AutoCAD Electrical</li>
                                <li>Revit Electrical</li>
                                <li>ETAP</li>
                                <li>Telecommunication Infrastructure Deployment & Maintenance</li>
                                <li>Electrical Buildings Services</li>
                                <li>Industrial Control & Home Automation</li>
                            </ul>
                            <img src="images/electrical.jpg" alt="Electrical Engineering" class="rounded-circle ml-auto w-25 img-fluid">
                        </p>         
                    </div>
                </div>
            </div>
            <%- include('includes/footer'); -%>
        </div>
    
        <!--Script link-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>